# Dossiers de cache et dépendances
/.phpunit.cache
/bootstrap/ssr
/node_modules
/vendor

# Build / stockage public
/public/hot
/public/storage
/public/build      # tu peux commenter si jamais build utilisé
/public/LaCasa/pub
/public/default.php

# Storage sécurisé
/storage/*.key
/storage/pail

# Environnements et configs locales
.env
.env.backup
.env.production

# IDE & outils
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
